/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3";

/* ==========================================================================
	FONTS
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700italic,700,200,200italic,400italic&subset=latin,cyrillic);

@font-face {
    font-family: 'metapro';
    src: url('../fonts/metapro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metapro_condnorm';
    src: url('../fonts/MetaPro-CondNorm.ttf');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
	VARIABLES
========================================================================== */

$white: #fff;
$black: #000;
$grenadier: #ec4f15;
$mineShaft: #222;
$limeade: #59B200;
$brownRust: #B0543C;
$vividTangerine: #FF9673;
$atlantisapprox: #78BF2F;
$tundora: #444;
$serenadeapprox: #FFF5E6;

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    color: $tundora;
	font-family: 'Exo 2', sans-serif;
}

ul,
p {
    margin: 0;
}

a {
	text-decoration: none;
	@include transition(color .2s);
}

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
    outline: none;
}

a:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-mg {
    margin: 0 !important;
}

.mgr-0 {
	margin-right: 0 !important;
}

.mgl-0 {
	margin-left: 0 !important;
}

.pdt-0 {
	padding-top: 0 !important;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none;
}

.container {
    width: 1130px;   
    margin: 0 auto;
}

/* ==========================================================================
    MAIN
========================================================================== */

.slide {
	.container {
		position: relative;
	}
}

.slide-1 {
	height: 645px;
	background-image: url(../img/slide-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.logo-container {
	width: 580px;
	padding: 50px 3px;

	h3 {
		color: $black;
		font-size: 24px;
		text-align: center;
		font-weight: 200;
	}
}

.logo {
	color: $grenadier;
	font-size: 32px;
	font-weight: 200;
	font-style: italic;
	
	a {
		color: $grenadier;
		text-decoration: none;
		font-size: 48px;
		line-height: 48px;
		font-weight: bold;
		font-style: italic;

		img {
			@include inline-block;
			margin-right: 10px;
			vertical-align: middle;
			margin-top: -3px;
		}
	}
}

.logo-narrow {
	@include inline-block;
	font-size: 28px;
	span {
		display: block;
		padding-left: 84px;
		margin-top: -15px;
	}
}

.search-container {
	position: absolute;
	top: 270px;
	left: 0;

	span {
		position: absolute;
		color: $mineShaft;
		font-size: 22px;
		font-weight: 200;
	}

	.text-1 {
		top: -40px;
		left: 20px;
	}

	.text-2 {
		top: -40px;
		right: 3px;
	}

	.text-3 {
		bottom: -35px;
		right: 160px;
	}
}

.phone-container {
	position: absolute;
	top: 424px;
	left: 0;
	padding-left: 30px;
	color: $mineShaft;
	font-size: 22px;
	font-weight: 200;

	.small-info {
		color: $black;
		font-size: 15px;
		line-height: 22px;
		font-family: "metapro_condnorm", sans-serif;
	}	
}

.phone {
	color: $grenadier;
	font-size: 53px;
	line-height: 74px;
	font-weight: normal;
}

.phone-container-small {
	@include inline-block;
	margin-top: 18px;	
	margin-left: 40px;
	text-align: center;
	.phone {
		font-size: 36px;
		font-weight: 400;
		line-height: 36px;
		margin-bottom: 10px;
	}

	p {
		font-size: 21px;
		font-weight: 200;
	}
}

.section {
	padding: 30px 0;
}

.bg-white {
	background-color: $white;
}

.bg-green {
	background-color: #92cc58;
}

.bg-nude {
	position: relative;
	background-color: #f6f4f1;
} 

.bg-top-geometr {
	&:before {
		display: block;
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        background: url(../img/border-waves.png) repeat-x;
    }
}

.bg-bottom-geometr {
	&:after {
		display: block;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 4px;
        content: "";
        background: url(../img/border-waves-bottom.png) repeat-x;
    }
}

.title-section {
	margin-bottom: 30px;
	color: $white;
	font-size: 44px;
	line-height: 44px;
	font-weight: 200;
	text-align: center;
}

.subtitle-section {
	color: #444;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	margin: 15px 0;
}

.title-article {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.text-green {
	color: $limeade;
}

.text-red {
	color: $grenadier;
}

.lnk-watch-all {
	display: block;
	color: darken($limeade, 10%);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline !important;
	
	&:hover {
		color: $limeade;
	}
}

.filter {
	margin-top: 25px;
	font-size: 18px;
	font-weight: bold;
	> div {
		@include inline-block;
		margin-left: 35px;	
		font-weight: normal;
		vertical-align: baseline;
		.icon {
			margin: 0 5px;
		}
	}

	.input-primary {
		margin-bottom: 0;
	}
}

.cell {
	display: table-cell;
	vertical-align: top;
}

.icon-wrapper {
	@include inline-block;
	width: 35px;
	margin-right: 5px;
	text-align: center;
	.icon {
		margin: 0 auto;
	}
}

.breadcrumb {
	margin: 15px 0 30px;
	li {
		display: inline;
		font-size: 24px;
		margin-left: 10px;
		&:before {
			@include inline-block;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent $tundora;
			margin-right: 5px;
		}

		a {
			color: $tundora;
			text-decoration: underline;
		}

		a:hover {
			color: $limeade;
		}
	}

	li:first-child {
		margin-left: 0;

		&:before {
			display: none;
		}
	}
}

.service {
	@include box-sizing(border-box);
	display: table;
	margin-top: 20px;
	width: 100%;
	padding: 15px;
	cursor: pointer;

	.cell-1 {
		width: 290px;
		padding-right: 20px;
	}

	.cell-2 {
		width: 500px;
		padding-right: 40px;
	}

	.cell-3 {
		p {
			margin-bottom: 15px;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	h3 {
		margin-bottom: 10px;

		a {
			color: $grenadier;
			font-size: 24px;
		}
	}

	&:hover {
		border: 1px solid #d93701;
		padding: 14px;
	}
}

.top-service {
	background-color: $serenadeapprox;
}

.offer {
	@extend .service;
	border: 1px solid #dfdfdf;
	padding: 14px;

	h3 {

		a {
			color: $limeade;
		}
	}

	.cell-3 {
		p {
			margin-bottom: 5px;
		}
	}
}

.offer-status {
	color: $limeade;
	font-size: 22px;
	font-weight: bold;
	line-height: 14px;

	span {
		vertical-align: middle;
	}
}

.is-chosen {
	background-color: #eaffd5;
	border: 1px solid $limeade;
}

.round-rectangle {
	@include inline-block;
	@include border-radius(65px);
	width: 262px;
	height: 130px;
	border: 2px solid #dcdbd8;
	background-position: center center;
	background-size: cover;
}

.round-rectangle-small {
	width: 164px;
	height: 132px;
	@include border-radius(55px);
}

.round-rectangle-big {
	width: 340px;
	height: 220px;
}

img.round-rectangle {
	height: auto;
}

.circle-with-number {
	position: relative;
	@include inline-block;
	@include border-radius(50%);
	width: 280px;
	height: 280px;
	border: 2px solid #dcdbd8;
	background-position: center center;
	background-size: cover;

	span {
		position: absolute;
		top: -20px;
		left: 50%; 
		margin-left: -5px;
		@include inline-block;
		padding: 0;
		background-color: $white;
		color: #e59481;
		font-size: 28px;
		font-weight: bold;
	}
}

.has-star {
	position: relative;

	&:before {
		position: absolute;
		top: -5px;
		left: -5px;
		content: "";
		@extend .icon;
		@extend .star-big;
	}
}

.has-rating {
	position: relative;
}

.rating-stars {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -76px;
	margin-top: 95px;
	ins {
		margin-right: 5px;
	}
}

.service-info {
	display: table;
	width: 100%;
	.cell-1 {
		width: 360px;
		padding-right: 20px;
	}

	.cell-2 {
		width: 210px;
	}

	.cell-3 {
		width: 240px;
		margin-right: 20px;
		p {
			margin-bottom: 10px;
		}
	}

	.cell-4 {
		width: 260px;
	}

	.thumbnails {
		li {
			@include inline-block;
			float: left;
			margin: 0 30px 15px 0;

			.round-rectangle {
				width: 70px;
				height: 60px;
				@include border-radius(20px);
			}
		}
	}

	.rating-stars {
		position: static;
		@include inline-block;
		margin: 0 5px 15px 0;
	}
}

.request-info {
	@extend .service-info;

	.request-author {
		display: block;
		margin-top: 10px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.request-name {
		margin-bottom: 10px;
		font-size: 36px;
		font-weight: 200;
	}

	.reguest-date,
	.request-status {
		@include inline-block;
		margin-bottom: 10px;
	}

	.request-status {
		margin-right: 15px;
		font-size: 20px;
		font-weight: bold;
		span {
			margin: 0 5px;
			vertical-align: middle;
		}
	}

	.cell-1 {
		width: 170px;
	}

	.cell-2 {
		width: 660px;
		padding: 0 20px;
	}

	.row {
		display: tablez;

		.cell-big {
			width: 500px;
			padding-right: 10px;
		}

		p {
			margin-bottom: 10px;
		}
	}
}

.lnk-text {
	color: $tundora;
	font-size: 16px;
	text-decoration: underline;
	font-style: italic;
	&:hover {
		color: $limeade;
	}
}

.lnk-green {
	color: $limeade;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	&:hover {
		color: darken($limeade, 5%);
	}
}

.block-requests {

	.service {
		@extend .service;
		.cell-1 {
			width: 100px;
			padding: 0;
			padding-right: 15px;
			text-align: center;
			vertical-align: middle;
		}

		.cell-2 {
			width: 170px;
			padding: 0;
		}

		.cell-3 {
			width: 580px;
			padding: 0 40px;
		}

		.cell-4 {
			p {
				margin-bottom: 15px;
			}

			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.comments {
	display: table;
	width: 100%;
}

.comment {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 15px;
	.cell-1 {
		width: 110px;
	}

	.cell-2 {
		width: 610px;
		padding: 0 40px 0 20px;
	}

	.cell-3 {

	}

	.avatar {
		width: 80px;
		height: 80px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border: 2px solid $limeade;
	}

	.comment-author {
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: bold;
	}

	.rating-stars {
		position: static;
		margin: 15px 0;
	}
}

.offer-comment { 
	@extend .comment;
	position: relative;
	background: #fff;
	border: 1px solid #59B200;
	padding: 15px;
	margin-top: 15px;
	margin-left: 150px;

	.cell-2 {
		width: 500px;
	}

	.cell-3 {
		width: 250px;
	}

	.rating-stars {
		p {
			margin-top: 5px;
		}
	}
}

.offer-comment:after,
.offer-comment:before { 
	bottom: 100%;
	left: 10%; border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.offer-comment:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}

.offer-comment:before { 
	border-color: rgba(89, 178, 0, 0);
	border-bottom-color: #59B200;
	border-width: 16px;
	margin-left: -16px;
}

.circle {
	@include border-radius(50%);
}

.article {
	.left {
		margin: 0 30px 30px 0;
	}

	.right {
		margin: 30px 0 30px 30px;
		margin-right: 0;
	}

	p {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 200;
	}
}

.article-with-arrows {
	.title-article {
		position: relative;
		margin-top: 120px;
		&:before {
			position: absolute;
			top: -100px;
			left: 50%;
			margin-left: -40px;
			content: "";
			@extend .icon;
			width: 80px;
			height: 80px;
			background-position: 0 -388px;
		}
	}

	.no-arrow {
		margin-top: 0;

		&:before {
			display: none !important;
		}
	}
}

.article.no-mg {
	p {
		margin: 0;
	}
}

.article-preview {
	@extend .service;

	.round-rectangle {
		width: 140px;
		height: 70px;
	}

	.cell-1 {
		width: 200px;
	}

	.cell-2 {
		width: 620px;
	}

	&:hover {
		border: none;
		padding: 15px;
		h3 {
			text-decoration: underline;
		}
	}
}

.search-box {
	height: 50px;
	border: 1px solid $vividTangerine;
	@include box-shadow(0 0 0 10px rgba(255, 150, 115, .5));
	background-color: $white;

	input,
	.select-box,
	button {
		float: left;
	}

	input {
		width: 320px;
		height: 30px;
		border: none;
		border-right: 1px solid $vividTangerine;
		padding: 10px 20px;
		color: $vividTangerine;
		font-size: 24px;
	}
}

.header {
	height: 288px;
	background-image: url(../img/bg-orange.jpg);
	background-size: cover;
	// overflow-x: hidden;
	// overflow-y: visible;
}

.header-bg {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 95% center;
	.container {
		position: relative;
	}

	.logo-container {
		width: 100%;
	}

	.search-container {
		top: 190px;
		left: 200px;
	}
}

/* ==========================================================================
    REQUEST STEPS
========================================================================== */

.request-steps {
	position: relative;
	padding: 0 90px;
	height: 290px;
}

.request-step {
	position: absolute;	
	width: 950px;
}

.request-step-2,
.request-step-3 {
	display: none;
}

.btn-step-prev,
.btn-step-next {
	position: absolute;
	display: block;
	top: 60px;
	@extend .icon;
}

.btn-step-prev {
	left: -30px;
	@extend .btn-left-green;
}

.btn-step-next {
	right: -30px;
	@extend .btn-right-green;
}

.btn-step-prev.inactive {
	@extend .btn-left-green-inactive;
}

.btn-step-next.inactive {
	@extend .btn-right-green-inactive;
}

.step-number,
.step-count {
	position: absolute;
	z-index: 100;
}

.step-number {
	top: -20px;
	left: -24px;
	display: block;
	width: 40px;
	height: 40px;
	background-color: $white;
	border: 3px solid darken($limeade, 5%);
	color: darken($limeade, 5%);
	text-align: center;
	font-size: 21px;
	line-height: 40px;
	@include border-radius(50%);
}

.step-count {
	right: 5px;
	bottom: 0;
	color: $white;
	font-size: 15px;
}

.btn-next-step {
	height: 50px;
	margin-right: 5px;
	margin-bottom: 30px;
	span {
		@include inline-block;
		line-height: 50px;
	}
	.text {
		height: 50px;
		padding: 0 20px;
		background-color: $limeade;
		color: $white;
		font-size: 20px;
		font-weight: bold;
	}

	.square {
		width: 50px;
		height: 50px;
		background-color: darken($limeade, 5%);
		text-align: center;
		ins {
			@include inline-block;
			width: 0;
			height: 0;
			line-height: 50px;
			border-style: solid;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent $white;
		}
	}

	&:hover {
		.text {
			background-color: darken($limeade, 3%);
		}

		.square {
			background-color: darken($limeade, 8%);
		}
	}
}

.btn-request {
	@extend .btn-next-step;
	.text {
		width: 185px;
		text-align: center;
	}
}

.field-required {
	position: relative;
	@include inline-block;
	vertical-align: top;
	margin-right: 40px;

	input {
		margin-right: 0;
	}

	&:after {
		position: absolute;
		content: "*";
		color: $white;
		font-size: 24px;
		top: -15px;
		right: -15px;
	}
}

.input-primary {
	@include box-sizing(border-box);
	vertical-align: top;
	height: 50px;
	padding: 5px 30px;
	border: 2px solid $atlantisapprox;
	margin-right: 40px;
	margin-bottom: 40px;
	color: darken($limeade, 5%);
	font-size: 22px;
	font-family: "metapro_condnorm", sans-serif;
}

.input-small {
	font-size: 18px;
	height: 40px;
}

.input-transparent {
	border: none;
}

.input-wrapper {
	border: 2px solid $atlantisapprox;
	input {
		margin: 0;
		vertical-align: middle;
	}
}

.textarea-primary {
	@extend .input-primary;
	height: 90px;
	resize: none;
}

.input-1 {
	width: 946px;
	margin-right: 0;
}

.input-2 {
	width: 450px;
}

.input-4 {
	width: 203px;
}

.input-date {
	padding-right: 60px;
	background-image: url(../img/icon-calendar.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}

.input-time {
	padding-right: 60px;
	background-image: url(../img/icon-timer.png);
	background-repeat: no-repeat;
	background-position: 94% center;
}

.input-budget {
	padding-right: 60px;
	background-image: url(../img/icon-purse.png);
	background-repeat: no-repeat;
	background-position: 94% center;
	margin-right: 0 !important;
}

.performers-radios {
	p {
		width: 450px;
		margin: 0 40px 10px 0;
	}
}

.custom-radio {
    font-size: 16px;
    line-height: 16px;
    color: $white;
    &:before {
    	@include inline-block;
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
        margin-right: 15px;
        background-image: url(../img/radios.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        content: '';
    }
}

.custom-radio.is-checked:before {
    background-position: 0 -21px;
}

/* ==========================================================================
    NAVIGATION
========================================================================== */

.nav-left {
    float: left;

    li {
        float: left;
    }
}

.nav-right {
    float: right;

    li {
        float: right;
    }
}

.nav-main {
	position: relative;
	height: 58px;
	@include box-shadow(rgba(34, 34, 34, .1) 0 0 0 3px);
	z-index: 1000;
}

.nav-menu {

	li {
		padding-top: 15px;
		margin-left: 30px;
	}

	.nav-link {
		position: relative;
		@include inline-block;
		padding: 5px 10px;
		color: $mineShaft;
		font-size: 18px;
		line-height: 18px;
		font-family: "metapro_condnorm", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}

	.nav-link:before,
	.nav-link:after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		background: $limeade;
		content: '';
		@include transition(transform 0.3s, opacity 0.3s);
		@include transform(scale(0.85));
	}

	.nav-link:after {
		@include opacity(0); 
		@include transition(top 0.3s, opacity 0.3s, transform 0.3s);
	}

	.nav-link:hover:before,
	.nav-link:hover:after,
	.nav-link.is-open:after {
		@include transform(scale(1));
	}

	.nav-link:hover:after,
	.nav-link.is-open:after {
		top: 0%;
		@include opacity(1); 
	}

	.nav-link.is-open:before {
		@include opacity(0);
	}
}

.nav-user {
	li {
		margin-left: 20px;
	}
}

.catalogue {
	position: relative;
}

.catalogue-container {
	display: none;
	position: absolute;
	top: 134%;
	left: -30px;
	width: 880px;
	padding: 35px 0 35px 30px;
	background-color: $white;
	border: 1px solid #73a246;
	border-top: 2px solid $limeade;
	z-index: 10000;

	.col {
		float: left;
		width: 260px;
		margin-right: 30px;
	}

	li {
		padding-top: 5px;
	}

	a {
		color: $limeade;
		font-size: 16px;
		line-height: 25px;
		font-family: "metapro_condnorm", sans-serif;
		text-transform: none;
		border-bottom: none;
		&:hover {
			color: darken($limeade, 20%);
		}
	}
}

.bag {
	position: absolute;
	top: 178px;
	left: 10px;

	ins {
		@extend .icon;
		@extend .icon-bag;
	}

	.services {
		position: relative;
		@include inline-block;
		padding: 10px;
		border: 1px solid #ff9775;
		background: $white;
		font-size: 18px;
		color: $tundora;
	}

	.services:after,
	.services:before {
		position: absolute;
		top: 50%;
		right: 100%;
		width: 0;
		height: 0;
		border: solid transparent;
		content: " ";
		pointer-events: none;
	}

	.services:after {
		border-right-color: $white;
		border-width: 8px;
		margin-top: -8px;
	}

	.services:before {
		border-right-color: #ea6031;
		border-width: 9px;
		margin-top: -9px;
	}
}

.catalogue-list {
	li {
		margin-right: 20px;
		margin-bottom: 30px;
	}
	li:nth-child(4n) {
		margin-right: 0;
	}
}

.list-wtih-dropdowns {
	> li {
		position: relative;
		width: 266px;
		height: 160px;
	}

	.service-type {
		position: absolute;
		z-index: 10;
	}

	.submenu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;
		padding: 180px 20px 20px;
		width: 266px;
		border: 2px solid #dcdbd8;
		@include box-sizing(border-box);
		@include border-radius(65px);
		background-color: $white;

		li {
			margin-bottom: 15px;
		}

		a {
			color: #222;
			font-size: 16px;
			font-weight: bold;
		}

		a:hover {
			color: $grenadier;
		}

		.lnk-all {
			color: $grenadier;
		}
	}

	> li:hover {
		.service-type {
			z-index: 12;
			p {
				color: $grenadier;
			}
		}
		.submenu {
			display: block;
		}
	}
}

/* ==========================================================================
    BUTTONS
========================================================================== */

.btn {
	@include inline-block;
	padding: 0 20px 3px;
	margin-top: 10px;
	color: $white;
	font-size: 20px;
	line-height: 35px;
	font-weight: bold;
	text-decoration: none;
	@include border-radius(50px);
}

.btn-login {
	span {
		border-bottom: 1px dotted $tundora;
		color: $tundora;
		font-size: 15px;
		line-height: 60px;
		font-family: "metapro_condnorm", sans-serif;
		text-decoration: none;
	}

	&:hover {
		span {
			color: $limeade;
		}
	}
}

.btn-make-request {
	background-color: #fc0;
	@include text-shadow(rgba(200, 171, 53, .64) 0 -1px 0);
	span {
		font-size: 40px;
		line-height: 20px;
		margin-right: 10px;
		vertical-align: text-top;
	}

	&:hover {
		background-color: darken(#fc0, 3%);
	}
}

.btn-registration {
	background-color: $grenadier;
	@include text-shadow(rgba(217, 54, 0, .64) 0 -1px 0);
	&:hover {
		background-color: darken($grenadier, 5%);
	}

	span {
		@extend .icon;
		@extend .icon-user-add;
	}
}

.btn-search {
	border: none;
	background-color: $grenadier;
	width: 50px;
	height: 50px;
	text-align: center;
	ins {
		line-height: 50px;
	}

	&:hover {
		background-color: darken($grenadier, 5%);
	}
}

.btn-rectangle {
	@include inline-block;
	height: 50px;
	margin: 20px 0;
	color: $white;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}

.btn-red {
	background-color: $grenadier;
	&:hover {
		background-color: darken($grenadier, 5%);
	}
}

.btn-green {
	background-color: $limeade;
	&:hover {
		background-color: darken($limeade, 5%);
	}
}

.btn-wide {
	width: 100%;
}

.btn-thin {
	height: 36px;
	font-size: 18px;
	line-height: 34px;
	margin: 15px 0 0 !important;
}

/* ==========================================================================
    ICONS
========================================================================== */

.icon {
	@include inline-block;
	background-image: url(../img/sprite-icons.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

.btn-left-gray {
	background-position: -2px 0;
	width: 66px;
	height: 65px;
}

.btn-right-gray {
	background-position: -99px 0;
	width: 66px;
	height: 65px;
}

.btn-left-gray-inactive{
	background-position: -4px -74px ;
	width: 66px;
	height: 65px;
}

.btn-right-gray-inactive{
	background-position: -100px -74px ;
	width: 66px;
	height: 65px;
}

.btn-left-green {
	background-position: -258px -100px;
	width: 66px;
	height: 65px;
}

.btn-right-green {
	background-position: -329px -99px;
	width: 66px;
	height: 65px;
}

.btn-left-green-inactive{
	background-position: -258px -169px;
	width: 66px;
	height: 65px;
}

.btn-right-green-inactive{
	background-position: -327px -169px;
	width: 66px;
	height: 65px;
}

.icon-calendar{
	background-position: 0 -154px ;
	width: 33px;
	height: 32px;
}

.icon-clock-small{
	background-position: 0 -200px ;
	width: 25px;
	height: 30px;
	margin-right: 6px;
}

.icon-date-small{
	background-position: -50px -202px ;
	width: 23px;
	height: 25px;
	margin-right: 6px;
	margin-top: -4px;
}

.icon-money-small{
	background-position: -99px -205px ;
	width: 25px;
	height: 18px;
	margin-right: 6px;
	vertical-align: baseline;
}

.icon-mail{
	background-position: -301px -2px ;
	width: 42px;
	height: 30px;
}

.icon-map{
	background-position: -200px 0;
	width: 38px;
	height: 30px;
}

.icon-phone{
	background-position: -250px 0;
	width: 34px;
	height: 32px;
}

.icon-purse{
	background-position: -52px -151px ;
	width: 33px;
	height: 31px;
}

.icon-search{
	background-position: -200px -49px ;
	width: 26px;
	height: 26px;
}

.icon-timer{
	background-position: -100px -150px ;
	width: 32px;
	height: 32px;
}

.icon-user{
	background-position: -152px -152px ;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.icon-number-1{
	background-position: -254px -55px ;
	width: 40px;
	height: 40px;
	margin: 0 10px 0 5px;
}

.icon-info {
	background-position: 0 -241px ;
	width: 25px;
	height: 25px;
	margin-bottom: 5px;
}

.btn-right-orange{
	background-position: -200px -97px ;
	width: 50px;
	height: 49px;
}

.icon-user-add{
	background-position: -315px -52px ;
	width: 25px;
	height: 19px;
	vertical-align: text-top;
	margin-top: 4px;
	margin-right: 10px;
}

.icon-bag{
	background-position: -200px -160px ;
	width: 54px;
	height: 61px;
	margin-right: 15px;
	vertical-align: bottom;
}

.icon-arrow-down{
	background-position: -101px -292px ;
	width: 28px;
	height: 16px;
}

.icon-arrow-down.is-active {
	background-position: -100px -326px ;
	width: 28px;
	height: 16px;
}

.icon-arrow-up{
	background-position: -151px -291px ;
	width: 28px;
	height: 16px;
}

.icon-arrow-up.is-active{
	background-position: -150px -322px ;
	width: 28px;
	height: 16px;
}

.icon-bag-arrow{
	background-position: -102px -240px;
	width: 33px;
	height: 37px;
	margin-top: -15px;
	margin-right: 5px;
}

.icon-house{
	background-position: 0 -239px;
	width: 24px;
	height: 24px;
}

.icon-phone-small{
	background-position: -50px -240px;
	width: 15px;
	height: 24px;
}

.icon-price-down{
	background-position: -49px -288px ;
	width: 38px;
	height: 18px;
}

.icon-price-down.is-active{
	background-position: -51px -327px ;
	width: 36px;
	height: 18px;
}

.icon-price-up{
	background-position: 0 -287px ;
	width: 38px;
	height: 18px;
}

.icon-price-up.is-active{
	background-position: 0 -329px ;
	width: 36px;
	height: 18px;
}

.icon-search-small{
	background-position: -300px -243px ;
	width: 18px;
	height: 18px;
	margin: 4px 10px 0 0 !important;
}

.star-big{
	background-position: -151px -240px;
	width: 39px;
	height: 36px;
}

.star-small{
	background-position: -201px -240px;
	width: 26px;
	height: 24px;
}

.star-small-empty{
	background-position: -249px -240px;
	width: 26px;
	height: 24px;
}

.icon-status-waiting {
	background-position: -315px -274px;
	width: 56px;
	height: 56px;
}

.icon-status-done {
	background-position: -199px -274px;
	width: 56px;
	height: 56px;
}

.icon-status-closed {
	background-position: -257px -274px;
	width: 56px;
	height: 56px;
}

.icon-done-small {
	background-position: -30px -355px;
	width: 25px;
	height: 25px;
}

.icon-comment {
	background-position: 0 -358px;
	width: 25px;
	height: 27px;
}

/* ==========================================================================
    LISTS
========================================================================== */

.list-round-rectangles {
	li {
		float: left;
		margin-bottom: 30px;

		.img-service {
			@extend .round-rectangle;
		}

		p {
			margin-top: 10px;
			color: $mineShaft;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
		}
	}

	li:first-child {
		margin-left: 0;
	}
}

.list-benefits {
	li {
		float: left;
		margin-left: 85px;
	}

	li:first-child {
		margin-left: 0;
	}

}

.list-requests {
	margin-top: 40px;
	a {
		display: block;
		height: 134px;
		overflow: hidden;
		padding: 30px 35px;
		border: 1px solid #ddd;
		margin-bottom: 15px;
		background-color: $white;

		.left {
			width: 344px;
		}

		.right {
			width: 130px;
			padding-left: 10px;
			p {
				margin-bottom: 20px;
			}
		}

		p {
			margin-top: 10px;
			color: $tundora;
			font-size: 16px;
		}		
		
		h4 {
			color: $tundora;
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
			font-family: "metapro_condnorm", sans-serif;
		}
	}

	a:hover {
		border: 2px solid #b0d685;
		padding: 29px 34px;
		background-color: #fefefe;

		h4 {
			color: $limeade;
			text-decoration: underline;
		}
	}	
}

.reguest-time {
	font-size: 24px;
}

.reguest-budget {
	color: $limeade;
	font-weight: bold;
	text-transform: uppercase;
}

.budget-sum {
	font-size: 32px;
	line-height: 16px;
}

.phone-numbers {
	@include inline-block;
	width: 170px;
}

.service-performer {
	font-weight: bold;
}

.list-service-steps {
	li {
		float: left;
		position: relative;
		width: 200px;
		margin-left: 108px;
		img {
			width: 200px;
			height: 200px;
			border: 2px solid #fae0d1;
			@include border-radius(50%);
		}

		p {
			width: 150px;
			margin: 15px auto;
			font-size: 18px;
			line-height: 20px;
			padding-left: 20px;
			font-family: "metapro_condnorm", sans-serif;
			color: #202020;
			text-transform: uppercase;
			span {
				@include inline-block;
				float: left;
				border-bottom: 3px solid #fae0d1;
				margin-right: 10px;
				margin-top: -8px;
				color: $tundora;
				font-size: 30px;
				line-height: 33px;
				font-weight: bold;
				font-family: 'Exo 2', sans-serif;
			}
		}
	}

	li:before {
		position: absolute;
		top: 88px;
		left: -76px;
		display: block;
		content: '';
		@extend .icon;
		@extend .btn-right-orange;
	}

	li:first-child {
		margin-left: 0;
	}

	li:first-child:before {
		display: none;
	}
}

/* PAGINATION
========================================================================== */

.pagination {
    text-align: right;
    ul {
    	margin: 20px 0;
    	text-align: center;
        li {
	        @include inline-block;
        }
    }

    a {
	    @include inline-block;
        padding: 0 15px;
        border: 1px solid $tundora;
        color: $tundora;
        font-size: 16px;
        font-weight: bold;
        line-height: 35px;
    }

    a:hover,
    li.is-current a {
		color: $grenadier;
        border: 1px solid $grenadier;
    }

    .first-page,
    .last-page {
        @include inline-block;
        width: 120px;
    }    
}

/* ==========================================================================
    FOOTER
========================================================================== */

.footer {
	padding: 50px 0;
	background-color: $brownRust;
	color: $white;
}

.nav-footer {
	float: left;
	width: 25%;
	padding-right: 10px;
	font-size: 16px;
	font-weight: bold;
	a {
		color: $white;
	}
}

.title-footer {
	font-size: 24px;
	font-weight: bold;
}

.statistics {
	float: left;
	width: 25%;
	padding-right: 10px;
	.title-footer {
		margin-bottom: 20px;
	}

	li {
		font-size: 15px;
	}
}

.contacts {
	width: 48%;
	float: left;
	.title-footer  {
		margin-bottom: 15px;
	}

	li {
		margin-top: 10px;
		ins {
			margin-right: 10px;
		}
	}
}

.license {
	margin-top: 20px;
}

/* ==========================================================================
    Custom select box
========================================================================== */

.select-box {
    height: 42px;
    @include inline-block;
}

.select-city {
    width: 210px;
}

.select-performer {
	margin-right: 40px;
}

.sl-button {
    @include inline-block;
    width: 0px;
    height: 0px;
    margin: 22px 10px 0;
    width: 0;
	height: 0 !important;
	border-style: solid;
	border-width: 10px 6px 0 6px;
	border-color: $vividTangerine transparent transparent transparent;
    font-size: 0;
    line-height: 0;
}

.sl-container {
    float: left;
    width: 100%;
    height: 100%;

    .sl-placeholder-container {
        position: relative;
        display: block;
        // height: 100%;
        padding: 0 22px 0 14px;
        background: $white;
    }

    &:hover {
        cursor: pointer;
    }
}

.sl-placeholder {
    height: 50px;
    background: $white;
    color: $vividTangerine;
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.sl-container .sl-options {
    top: 50px !important;
    left: -1px !important;
    width: 100%;
    padding: 10px 0;
    max-height: 200px;
    margin: 0;
    border: 1px solid $vividTangerine;
    background-color: white;
    list-style: none outside none;
    overflow: auto;
    z-index: 10000;

    li {
        margin: 0;
        padding: 0 12px;
        overflow: hidden;
        line-height: 30px;

        a {
            display: block;
            color: $vividTangerine;
            font-size: 20px;
            font-weight: normal;
            height: 30px;
            line-height: 30px;
            text-decoration: none;
            text-align: left;
        }
    }

    li:hover {
        background-color: rgba(0, 0, 0, .01);
        a {
            color: darken($vividTangerine, 20%);
        }
    }
}

.sl-container:hover,
.sl-open {
    .sl-button {
        border-color: darken($vividTangerine, 20%) transparent transparent;
    }
}

.select-performer,
.select-category {
	width: 450px;
	margin-bottom: 40px;

	.sl-button {
		margin: 22px 15px 0;
		border-color: $limeade transparent transparent transparent;
	}

	.sl-placeholder-container {
		padding: 0 30px;
		border: 2px solid $atlantisapprox;
	}

	.sl-placeholder {
		width: 400px !important;
		color: darken($limeade, 5%);
		font-family: "metapro_condnorm", sans-serif;
		height: 47px;
		line-height: 47px;
	}

	.sl-container .sl-options {
		border: 2px solid $atlantisapprox;
		a {
			color: $limeade;
			font-family: "metapro_condnorm", sans-serif;
		}

		li:hover a {		        
           color: darken($limeade, 5%);
	    }
	}

	.sl-container:hover,
	.sl-open {
	    .sl-button {
	        border-color: darken($limeade, 5%) transparent transparent;
	    }
	}
}

.select-narrow {
	width: 182px;
	margin: 0 5px;

	.sl-button {
		margin: 19px 15px 0;
	}

	.sl-placeholder {
		width: 110px !important;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
	}

	.sl-container .sl-options li a {
		font-size: 18px;
	}
}

.select-longer {
	width: 300px;

	.sl-placeholder {
		width: 230px !important;
	}
}

/* ==========================================================================
    SLIDER
========================================================================== */

.jcarousel-wrapper {
    position: relative;
    width: 932px;
    height: 370px;
    margin: 0 auto;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 3000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        width: 932px;
        height: 370px;
    }

    a {
        display: block;
        height: auto !important;
        max-width: 100%;
    }
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: inline-block;
    margin-top: -54px;
    text-align: center;
    text-decoration: none;
    top: 50%;

    span {
        @extend .icon;
    }
}

.jcarousel-control-prev {
    left: -142px;
    span {
        @extend .btn-left-gray;
    }
}

.jcarousel-control-next {
    right: -142px;
    span {
        @extend .btn-right-gray;
    }
}

/* Slider-small
========================================================================== */

.slider-small {
    margin-top: 25px;

    .jcarousel-wrapper {
        width: 850px;
        height: 186px;
    }

    .jcarousel {
        li {
            width: 270px;
            height: 180px;
            margin-right: 20px;
        }
    }

    .jcarousel-control-prev-small {
    	@extend .jcarousel-control-prev;

    }

    .jcarousel-control-next-small {
    	@extend .jcarousel-control-next;
    }

    .jcarousel-control-prev-small.inactive {
    	span {
			@extend .btn-left-gray-inactive;
    	}
    }

    .jcarousel-control-next-small.inactive {
    	span {
			@extend .btn-right-gray-inactive;
    	}
    }
}