@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700italic,700,200,200italic,400italic&subset=latin,cyrillic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
	FONTS
========================================================================== */
@font-face {
  font-family: 'metapro';
  src: url("../fonts/metapro.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'metapro_condnorm';
  src: url("../fonts/MetaPro-CondNorm.ttf");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
	VARIABLES
========================================================================== */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  font-family: 'Exo 2', sans-serif; }

ul,
p {
  margin: 0; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none; }

a:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

.left {
  float: left; }

.right {
  float: right; }

.no-mg {
  margin: 0 !important; }

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */ }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.container {
  width: 1130px;
  margin: 0 auto; }

/* ==========================================================================
    MAIN
========================================================================== */
.slide .container {
  position: relative; }

.slide-1 {
  height: 645px;
  background-image: url(../img/slide-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.logo-container {
  width: 580px;
  padding: 50px 3px; }
  .logo-container h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 200; }

.logo {
  color: #ec4f15;
  font-size: 32px;
  font-weight: 200;
  font-style: italic; }
  .logo a {
    color: #ec4f15;
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    font-style: italic; }
    .logo a img {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin-right: 10px;
      vertical-align: sub; }

.search-container {
  position: absolute;
  top: 270px;
  left: 0; }
  .search-container span {
    position: absolute;
    color: #222222;
    font-size: 22px;
    font-weight: 200; }
  .search-container .text-1 {
    top: -40px;
    left: 30px; }
  .search-container .text-2 {
    top: -40px;
    right: 20px; }
  .search-container .text-3 {
    bottom: -35px;
    right: 160px; }

.phone-container {
  position: absolute;
  top: 424px;
  left: 0;
  padding-left: 30px;
  color: #222222;
  font-size: 22px;
  font-weight: 200; }
  .phone-container .small-info {
    color: black;
    font-size: 15px;
    line-height: 22px;
    font-family: "metapro_condnorm", sans-serif; }
  .phone-container .phone {
    color: #ec4f15;
    font-size: 53px;
    line-height: 74px;
    font-weight: normal; }

.section {
  padding: 30px 0; }

.bg-white {
  background-color: white; }

.bg-green {
  background-color: #92cc58; }

.bg-nude {
  position: relative;
  background-color: #f6f4f1; }

.bg-top-geometr:before {
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background: url(../img/border-waves.png) repeat-x; }

.bg-bottom-geometr:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  content: "";
  background: url(../img/border-waves-bottom.png) repeat-x; }

.title-section {
  margin-bottom: 30px;
  color: white;
  font-size: 44px;
  line-height: 44px;
  font-weight: 200;
  text-align: center; }

.text-green {
  color: #59b200; }

.text-red {
  color: #ec4f15; }

.lnk-watch-all {
  display: block;
  color: #407f00;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline !important; }
  .lnk-watch-all:hover {
    color: #59b200; }

.search-box {
  height: 50px;
  border: 1px solid #ff9673;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  background-color: white; }
  .search-box input,
  .search-box .select-box,
  .search-box button {
    float: left; }
  .search-box input {
    width: 320px;
    height: 30px;
    border: none;
    border-right: 1px solid #ff9673;
    padding: 10px 20px;
    color: #ff9673;
    font-size: 24px; }

/* ==========================================================================
    REQUEST STEPS
========================================================================== */
.request-steps {
  padding: 0 90px; }

.request-step {
  position: relative; }

.step-number,
.step-count {
  position: absolute;
  z-index: 100; }

.step-number {
  top: -20px;
  left: -24px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 3px solid #4c9900;
  color: #4c9900;
  text-align: center;
  font-size: 21px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.step-count {
  right: 5px;
  bottom: 0;
  color: white;
  font-size: 15px; }

.btn-next-step {
  height: 50px;
  margin-right: 5px;
  margin-bottom: 30px; }
  .btn-next-step span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    line-height: 50px; }
  .btn-next-step .text {
    height: 50px;
    padding: 0 20px;
    background-color: #59b200;
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .btn-next-step .square {
    width: 50px;
    height: 50px;
    background-color: #4c9900;
    text-align: center; }
    .btn-next-step .square ins {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 0;
      height: 0;
      line-height: 50px;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent transparent transparent white; }
  .btn-next-step:hover .text {
    background-color: #51a300; }
  .btn-next-step:hover .square {
    background-color: #458900; }

.field-required {
  position: relative; }
  .field-required:after {
    position: absolute;
    content: "*";
    color: white;
    font-size: 24px;
    top: -15px;
    right: -15px; }

.input-primary {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 54px;
  padding: 10px 30px;
  border: 2px solid #78bf2f;
  margin-right: 40px;
  margin-bottom: 40px;
  color: #4c9900;
  font-size: 22px;
  font-family: "metapro_condnorm", sans-serif; }

.input-long {
  width: 450px; }

.input-half-long {
  width: 203px; }

.input-date {
  padding-right: 60px;
  background-image: url(../img/icon-calendar.png);
  background-repeat: no-repeat;
  background-position: 97% center; }

.input-time {
  padding-right: 60px;
  background-image: url(../img/icon-timer.png);
  background-repeat: no-repeat;
  background-position: 94% center; }

.input-budget {
  padding-right: 60px;
  background-image: url(../img/icon-purse.png);
  background-repeat: no-repeat;
  background-position: 94% center;
  margin-right: 0 !important; }

/* ==========================================================================
    NAVIGATION
========================================================================== */
.nav-left {
  float: left; }
  .nav-left li {
    float: left; }

.nav-right {
  float: right; }
  .nav-right li {
    float: right; }

.nav-main {
  position: relative;
  height: 58px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px;
  -moz-box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px;
  box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px; }

.nav-menu li {
  padding-top: 15px;
  margin-right: 30px; }
.nav-menu a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-bottom: 2px solid #59b200;
  color: #222222;
  font-size: 18px;
  font-family: "metapro_condnorm", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.nav-user li {
  margin-left: 15px; }

/* ==========================================================================
    BUTTONS
========================================================================== */
.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 20px 3px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.btn-login span {
  border-bottom: 1px dotted #444;
  color: #444;
  font-size: 15px;
  line-height: 60px;
  font-family: "metapro_condnorm", sans-serif;
  text-decoration: none; }

.btn-make-request {
  background-color: #fc0;
  text-shadow: rgba(200, 171, 53, 0.64) 0 -1px 0; }
  .btn-make-request span {
    font-size: 40px;
    line-height: 20px;
    margin-right: 20px;
    vertical-align: text-top; }

.btn-registration {
  background-color: #ec4f15;
  text-shadow: rgba(217, 54, 0, 0.64) 0 -1px 0; }

.btn-search {
  border: none;
  background-color: #ec4f15;
  width: 50px;
  height: 50px;
  text-align: center; }
  .btn-search ins {
    line-height: 50px; }
  .btn-search:hover {
    background-color: #d64611; }

/* ==========================================================================
    ICONS
========================================================================== */
.icon, .list-service-steps li:before {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url(../img/sprite-icons.png);
  background-repeat: no-repeat;
  vertical-align: middle; }

.btn-left {
  background-position: -2px 0;
  width: 66px;
  height: 65px; }

.btn-right {
  background-position: -99px 0;
  width: 66px;
  height: 65px; }

.btn-left-unactive {
  background-position: -4px -74px;
  width: 66px;
  height: 65px; }

.btn-right-unactive {
  background-position: -100px -74px;
  width: 66px;
  height: 65px; }

.icon-calendar {
  background-position: 0 -154px;
  width: 33px;
  height: 32px; }

.icon-clock-small {
  background-position: 0 -200px;
  width: 25px;
  height: 30px;
  margin-right: 6px; }

.icon-date-small {
  background-position: -50px -202px;
  width: 23px;
  height: 25px;
  margin-right: 6px;
  margin-top: -4px; }

.icon-money-small {
  background-position: -99px -205px;
  width: 25px;
  height: 18px;
  margin-right: 6px;
  vertical-align: baseline; }

.icon-mail {
  background-position: -301px -2px;
  width: 42px;
  height: 30px; }

.icon-map {
  background-position: -200px 0;
  width: 38px;
  height: 30px; }

.icon-phone {
  background-position: -250px 0;
  width: 34px;
  height: 32px; }

.icon-purse {
  background-position: -52px -151px;
  width: 33px;
  height: 31px; }

.icon-search {
  background-position: -200px -49px;
  width: 26px;
  height: 26px; }

.icon-timer {
  background-position: -100px -150px;
  width: 32px;
  height: 32px; }

.icon-user {
  background-position: -152px -152px;
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.icon-number-1 {
  background-position: -254px -55px;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 5px; }

.btn-right-orange, .list-service-steps li:before {
  background-position: -200px -97px;
  width: 50px;
  height: 49px; }

.user-add {
  background-position: -315px -52px;
  width: 25px;
  height: 19px; }

.icon-bag {
  background-position: -200px -160px;
  width: 54px;
  height: 61px; }

/* ==========================================================================
    LISTS
========================================================================== */
.list-round-rectangles li {
  float: left;
  margin-left: 20px;
  margin-bottom: 30px; }
  .list-round-rectangles li .img-service {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    -ms-border-radius: 65px;
    -o-border-radius: 65px;
    border-radius: 65px;
    width: 262px;
    height: 130px;
    border: 2px solid #dcdbd8;
    background-position: center center; }
  .list-round-rectangles li p {
    margin-top: 10px;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
.list-round-rectangles li:first-child {
  margin-left: 0; }

.list-benefits li {
  float: left;
  margin-left: 85px; }
.list-benefits li:first-child {
  margin-left: 0; }

.list-requests {
  margin-top: 40px; }
  .list-requests a {
    display: block;
    height: 134px;
    overflow: hidden;
    padding: 30px 35px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background-color: white; }
    .list-requests a .left {
      width: 344px; }
    .list-requests a .right {
      width: 130px;
      padding-left: 10px; }
      .list-requests a .right p {
        margin-bottom: 20px; }
    .list-requests a p {
      margin-top: 10px;
      color: #444;
      font-size: 16px; }
    .list-requests a .reguest-time {
      font-size: 24px; }
    .list-requests a .reguest-budget {
      color: #59b200;
      font-weight: bold;
      text-transform: uppercase; }
    .list-requests a .budget-sum {
      font-size: 32px;
      line-height: 16px; }
    .list-requests a h4 {
      color: #444;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      font-family: "metapro_condnorm", sans-serif; }
  .list-requests a:hover {
    border: 2px solid #b0d685;
    padding: 29px 34px;
    background-color: #fefefe; }
    .list-requests a:hover h4 {
      color: #59b200;
      text-decoration: underline; }

.list-service-steps li {
  float: left;
  position: relative;
  width: 200px;
  margin-left: 108px; }
  .list-service-steps li img {
    width: 200px;
    height: 200px;
    border: 2px solid #fae0d1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .list-service-steps li p {
    width: 150px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
    font-family: "metapro_condnorm", sans-serif;
    color: #202020;
    text-transform: uppercase; }
    .list-service-steps li p span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      float: left;
      border-bottom: 3px solid #fae0d1;
      margin-right: 10px;
      margin-top: -8px;
      color: #444;
      font-size: 30px;
      line-height: 33px;
      font-weight: bold;
      font-family: 'Exo 2', sans-serif; }
.list-service-steps li:before {
  position: absolute;
  top: 88px;
  left: -76px;
  display: block;
  content: ''; }
.list-service-steps li:first-child {
  margin-left: 0; }
.list-service-steps li:first-child:before {
  display: none; }

/* ==========================================================================
    FOOTER
========================================================================== */
.footer {
  padding: 50px 0;
  background-color: #b0543c;
  color: white; }

.nav-footer {
  float: left;
  width: 25%;
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold; }
  .nav-footer a {
    color: white; }

.title-footer {
  font-size: 24px;
  font-weight: bold; }

.statistics {
  float: left;
  width: 25%;
  padding-right: 10px; }
  .statistics .title-footer {
    margin-bottom: 20px; }
  .statistics li {
    font-size: 15px; }

.contacts {
  width: 48%;
  float: left; }
  .contacts .title-footer {
    margin-bottom: 15px; }
  .contacts li {
    margin-top: 10px; }
    .contacts li ins {
      margin-right: 10px; }

.license {
  margin-top: 20px; }

/* ==========================================================================
    Custom select box
========================================================================== */
.select-box {
  height: 42px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.select-city {
  width: 210px; }

.select-performer {
  margin-right: 40px; }

.sl-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  margin: 22px 10px 0;
  width: 0;
  height: 0 !important;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #ff9673 transparent transparent transparent;
  font-size: 0;
  line-height: 0; }

.sl-container {
  float: left;
  width: 100%;
  height: 100%; }
  .sl-container .sl-placeholder-container {
    position: relative;
    display: block;
    height: 100%;
    padding: 4px 22px 4px 14px;
    background: white; }
  .sl-container:hover {
    cursor: pointer; }

.sl-placeholder {
  height: 42px;
  background: white;
  color: #ff9673;
  font-size: 20px;
  font-weight: normal;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; }

.sl-container .sl-options {
  top: 50px !important;
  left: -1px !important;
  width: 100%;
  padding: 10px 0;
  max-height: 200px;
  margin: 0;
  border: 1px solid #ff9673;
  background-color: white;
  list-style: none outside none;
  overflow: auto;
  z-index: 1; }
  .sl-container .sl-options li {
    margin: 0;
    padding: 0 12px;
    overflow: hidden;
    line-height: 30px; }
    .sl-container .sl-options li a {
      display: block;
      color: #ff9673;
      font-size: 20px;
      font-weight: normal;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      text-align: left; }
  .sl-container .sl-options li:hover {
    background-color: rgba(0, 0, 0, 0.01); }
    .sl-container .sl-options li:hover a {
      color: #ff4a0d; }

.sl-container:hover .sl-button,
.sl-open .sl-button {
  border-color: #ff4a0d transparent transparent; }

.select-performer,
.select-category {
  width: 450px;
  margin-bottom: 40px; }
  .select-performer .sl-button,
  .select-category .sl-button {
    border-color: #59b200 transparent transparent transparent; }
  .select-performer .sl-placeholder-container,
  .select-category .sl-placeholder-container {
    padding: 4px 30px 4px 30px;
    border: 2px solid #78bf2f; }
  .select-performer .sl-placeholder,
  .select-category .sl-placeholder {
    width: 400px !important;
    color: #4c9900;
    font-family: "metapro_condnorm", sans-serif; }
  .select-performer .sl-container .sl-options,
  .select-category .sl-container .sl-options {
    border: 2px solid #78bf2f; }
    .select-performer .sl-container .sl-options a,
    .select-category .sl-container .sl-options a {
      color: #59b200;
      font-family: "metapro_condnorm", sans-serif; }
    .select-performer .sl-container .sl-options li:hover a,
    .select-category .sl-container .sl-options li:hover a {
      color: #4c9900; }
  .select-performer .sl-container:hover .sl-button,
  .select-performer .sl-open .sl-button,
  .select-category .sl-container:hover .sl-button,
  .select-category .sl-open .sl-button {
    border-color: #4c9900 transparent transparent; }
