@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700italic,700,200,200italic,400italic&subset=latin,cyrillic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
	FONTS
========================================================================== */
@font-face {
  font-family: 'metapro';
  src: url("../fonts/metapro.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'metapro_condnorm';
  src: url("../fonts/MetaPro-CondNorm.ttf");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
	VARIABLES
========================================================================== */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  color: #444444;
  font-family: 'Exo 2', sans-serif; }

ul,
p {
  margin: 0; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none; }

a:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

.left {
  float: left; }

.right {
  float: right; }

.no-mg {
  margin: 0 !important; }

.mgr-0 {
  margin-right: 0 !important; }

.mgl-0 {
  margin-left: 0 !important; }

.pdt-0 {
  padding-top: 0 !important; }

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */ }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.container {
  width: 1130px;
  margin: 0 auto; }

.checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 18px;
  height: 18px;
  background-image: url(../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: 0 -22px; }
  .checkbox.is-checked {
    background-position: 0 0; }

/* ==========================================================================
    MAIN
========================================================================== */
.slide .container {
  position: relative; }

.slide-1 {
  height: 645px;
  background-image: url(../img/slide-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.logo-container {
  width: 580px;
  padding: 50px 3px; }
  .logo-container h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 200; }

.logo {
  color: #ec4f15;
  font-size: 32px;
  font-weight: 200;
  font-style: italic; }
  .logo a {
    color: #ec4f15;
    text-decoration: none;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    font-style: italic; }
    .logo a img {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin-right: 10px;
      vertical-align: middle;
      margin-top: -3px; }

.logo-narrow {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 28px; }
  .logo-narrow span {
    display: block;
    padding-left: 84px;
    margin-top: -15px; }

.search-container {
  position: absolute;
  top: 270px;
  left: 0; }
  .search-container span {
    position: absolute;
    color: #222222;
    font-size: 22px;
    font-weight: 200; }
  .search-container .text-1 {
    top: -40px;
    left: 20px; }
  .search-container .text-2 {
    top: -40px;
    right: 3px; }
  .search-container .text-3 {
    bottom: -35px;
    right: 160px; }

.phone-container {
  position: absolute;
  top: 424px;
  left: 0;
  padding-left: 30px;
  color: #222222;
  font-size: 22px;
  font-weight: 200; }
  .phone-container .small-info {
    color: black;
    font-size: 15px;
    line-height: 22px;
    font-family: "metapro_condnorm", sans-serif; }

.phone {
  color: #ec4f15;
  font-size: 53px;
  line-height: 74px;
  font-weight: normal; }

.phone-container-small {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 18px;
  margin-left: 40px;
  text-align: center; }
  .phone-container-small .phone {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px; }
  .phone-container-small p {
    font-size: 21px;
    font-weight: 200; }

.section {
  padding: 30px 0; }

.bg-white {
  background-color: white; }

.bg-green {
  background-color: #92cc58; }

.bg-nude {
  position: relative;
  background-color: #f6f4f1; }

.bg-top-geometr:before {
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background: url(../img/border-waves.png) repeat-x; }

.bg-bottom-geometr:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  content: "";
  background: url(../img/border-waves-bottom.png) repeat-x; }

.title-section {
  margin-bottom: 30px;
  color: white;
  font-size: 44px;
  line-height: 44px;
  font-weight: 200;
  text-align: center; }

.subtitle-section {
  color: #444;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 15px 0; }

.title-article {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px; }

.text-green {
  color: #59b200; }

.text-red {
  color: #ec4f15; }

.lnk-watch-all, .lnk-back {
  display: block;
  color: #407f00;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline !important; }
  .lnk-watch-all:hover, .lnk-back:hover {
    color: #59b200; }

.lnk-back {
  text-align: left;
  color: #bf3f0f; }
  .lnk-back:hover {
    color: #ec4f15; }

.filter {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold; }
  .filter > div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-left: 35px;
    font-weight: normal;
    vertical-align: baseline; }
    .filter > div .icon, .filter > div .has-star:before, .filter > div .article-with-arrows .title-article:before, .article-with-arrows .filter > div .title-article:before, .filter > div .btn-step-prev,
    .filter > div .btn-step-next, .filter > div .bag ins, .bag .filter > div ins, .filter > div .btn-registration span, .btn-registration .filter > div span, .filter > div .list-service-steps li:before, .list-service-steps .filter > div li:before, .filter > div .jcarousel-control-prev span, .jcarousel-control-prev .filter > div span, .filter > div .slider-small .jcarousel-control-prev-small span, .slider-small .jcarousel-control-prev-small .filter > div span,
    .filter > div .jcarousel-control-next span,
    .jcarousel-control-next .filter > div span,
    .filter > div .slider-small .jcarousel-control-next-small span,
    .slider-small .jcarousel-control-next-small .filter > div span {
      margin: 0 5px; }
  .filter .input-primary, .filter .textarea-primary {
    margin-bottom: 0; }

.cell {
  display: table-cell;
  vertical-align: top; }

.icon-wrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 35px;
  margin-right: 5px;
  text-align: center; }
  .icon-wrapper .icon, .icon-wrapper .has-star:before, .icon-wrapper .article-with-arrows .title-article:before, .article-with-arrows .icon-wrapper .title-article:before, .icon-wrapper .btn-step-prev,
  .icon-wrapper .btn-step-next, .icon-wrapper .bag ins, .bag .icon-wrapper ins, .icon-wrapper .btn-registration span, .btn-registration .icon-wrapper span, .icon-wrapper .list-service-steps li:before, .list-service-steps .icon-wrapper li:before, .icon-wrapper .jcarousel-control-prev span, .jcarousel-control-prev .icon-wrapper span, .icon-wrapper .slider-small .jcarousel-control-prev-small span, .slider-small .jcarousel-control-prev-small .icon-wrapper span,
  .icon-wrapper .jcarousel-control-next span,
  .jcarousel-control-next .icon-wrapper span,
  .icon-wrapper .slider-small .jcarousel-control-next-small span,
  .slider-small .jcarousel-control-next-small .icon-wrapper span {
    margin: 0 auto; }

.breadcrumb {
  margin: 15px 0 30px; }
  .breadcrumb li {
    display: inline;
    font-size: 24px;
    margin-left: 10px; }
    .breadcrumb li:before {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent transparent transparent #444444;
      margin-right: 5px; }
    .breadcrumb li a {
      color: #444444;
      text-decoration: underline; }
    .breadcrumb li a:hover {
      color: #59b200; }
  .breadcrumb li:first-child {
    margin-left: 0; }
    .breadcrumb li:first-child:before {
      display: none; }

.service, .offer, .block-requests .service, .article-preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  cursor: pointer; }
  .service .cell-1, .offer .cell-1, .article-preview .cell-1 {
    width: 290px;
    padding-right: 20px; }
  .service .cell-2, .offer .cell-2, .article-preview .cell-2 {
    width: 500px;
    padding-right: 40px; }
  .service .cell-3 p, .offer .cell-3 p, .article-preview .cell-3 p {
    margin-bottom: 15px; }
  .service .cell-3 p:last-of-type, .offer .cell-3 p:last-of-type, .article-preview .cell-3 p:last-of-type {
    margin-bottom: 0; }
  .service h3, .offer h3, .block-requests .service h3, .article-preview h3 {
    margin-bottom: 10px; }
    .service h3 a, .offer h3 a, .block-requests .service h3 a, .article-preview h3 a {
      color: #ec4f15;
      font-size: 24px; }
  .service:hover, .offer:hover, .article-preview:hover {
    border: 1px solid #d93701;
    padding: 14px; }
  .service .has-checkbox, .offer .has-checkbox, .article-preview .has-checkbox {
    position: relative; }
    .service .has-checkbox .checkbox, .offer .has-checkbox .checkbox, .article-preview .has-checkbox .checkbox {
      position: absolute;
      top: 60px;
      right: 14px; }

.services-case .service, .services-case .offer, .services-case .article-preview {
  cursor: inherit; }
  .services-case .service:hover, .services-case .offer:hover, .services-case .article-preview:hover {
    border: none;
    padding: 15px; }

.btn-close-service {
  position: absolute;
  top: -10px;
  right: 26px; }

.top-service {
  background-color: #fff5e6; }

.offer {
  border: 1px solid #dfdfdf;
  padding: 14px; }
  .offer h3 a {
    color: #59b200; }
  .offer .cell-3 p {
    margin-bottom: 5px; }

.offer-status {
  color: #59b200;
  font-size: 22px;
  font-weight: bold;
  line-height: 14px; }
  .offer-status span {
    vertical-align: middle; }

.is-chosen {
  background-color: #eaffd5;
  border: 1px solid #59b200; }

.round-rectangle, .list-round-rectangles li .img-service {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
  border-radius: 65px;
  width: 262px;
  height: 130px;
  border: 2px solid #dcdbd8;
  background-position: center center;
  background-size: cover; }

.round-rectangle-small {
  width: 164px;
  height: 132px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px; }

.round-rectangle-big {
  width: 340px;
  height: 220px; }

img.round-rectangle, .list-round-rectangles li img.img-service {
  height: auto; }

.circle-with-number {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: 2px solid #dcdbd8;
  background-position: center center;
  background-size: cover; }
  .circle-with-number span {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -5px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 0;
    background-color: white;
    color: #e59481;
    font-size: 28px;
    font-weight: bold; }

.has-star {
  position: relative; }
  .has-star:before {
    position: absolute;
    top: -5px;
    left: -5px;
    content: ""; }

.has-rating {
  position: relative; }

.rating-stars {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -76px;
  margin-top: 95px; }
  .rating-stars ins {
    margin-right: 5px; }

.service-info, .request-info {
  display: table;
  width: 100%; }
  .service-info .cell-1, .request-info .cell-1 {
    width: 360px;
    padding-right: 20px; }
  .service-info .cell-2, .request-info .cell-2 {
    width: 210px; }
  .service-info .cell-3, .request-info .cell-3 {
    width: 240px;
    margin-right: 20px; }
    .service-info .cell-3 p, .request-info .cell-3 p {
      margin-bottom: 10px; }
  .service-info .cell-4, .request-info .cell-4 {
    width: 260px; }
  .service-info .thumbnails li, .request-info .thumbnails li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    margin: 0 30px 15px 0; }
    .service-info .thumbnails li .round-rectangle, .request-info .thumbnails li .round-rectangle, .service-info .thumbnails .list-round-rectangles li .img-service, .list-round-rectangles .service-info .thumbnails li .img-service, .request-info .thumbnails .list-round-rectangles li .img-service, .list-round-rectangles .request-info .thumbnails li .img-service {
      width: 70px;
      height: 60px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
  .service-info .rating-stars, .request-info .rating-stars {
    position: static;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 5px 15px 0; }

.request-info .request-author {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }
.request-info .request-name {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 200; }
.request-info .reguest-date,
.request-info .request-status {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 10px; }
.request-info .request-status {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold; }
  .request-info .request-status span {
    margin: 0 5px;
    vertical-align: middle; }
.request-info .cell-1 {
  width: 170px; }
.request-info .cell-2 {
  width: 660px;
  padding: 0 20px; }
.request-info .row {
  display: tablez; }
  .request-info .row .cell-big {
    width: 500px;
    padding-right: 10px; }
  .request-info .row p {
    margin-bottom: 10px; }

.lnk-text {
  color: #444444;
  font-size: 16px;
  text-decoration: underline;
  font-style: italic; }
  .lnk-text:hover {
    color: #59b200; }

.lnk-green {
  color: #59b200;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline; }
  .lnk-green:hover {
    color: #4c9900; }

.block-requests .service .cell-1, .block-requests .offer .cell-1, .block-requests .article-preview .cell-1 {
  width: 100px;
  padding: 0;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle; }
.block-requests .service .cell-2, .block-requests .offer .cell-2, .block-requests .article-preview .cell-2 {
  width: 170px;
  padding: 0; }
.block-requests .service .cell-3, .block-requests .offer .cell-3, .block-requests .article-preview .cell-3 {
  width: 580px;
  padding: 0 40px; }
.block-requests .service .cell-4 p, .block-requests .offer .cell-4 p, .block-requests .article-preview .cell-4 p {
  margin-bottom: 15px; }
.block-requests .service .cell-4 p:last-of-type, .block-requests .offer .cell-4 p:last-of-type, .block-requests .article-preview .cell-4 p:last-of-type {
  margin-bottom: 0; }

.comments {
  display: table;
  width: 100%; }

.comment, .offer-comment {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 15px; }
  .comment .cell-1, .offer-comment .cell-1 {
    width: 110px; }
  .comment .cell-2, .offer-comment .cell-2 {
    width: 610px;
    padding: 0 40px 0 20px; }
  .comment .avatar, .offer-comment .avatar {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #59b200; }
  .comment .comment-author, .offer-comment .comment-author {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold; }
  .comment .rating-stars, .offer-comment .rating-stars {
    position: static;
    margin: 15px 0; }

.offer-comment {
  position: relative;
  background: #fff;
  border: 1px solid #59B200;
  padding: 15px;
  margin-top: 15px;
  margin-left: 150px; }
  .offer-comment .cell-2 {
    width: 500px; }
  .offer-comment .cell-3 {
    width: 250px; }
  .offer-comment .rating-stars p {
    margin-top: 5px; }

.offer-comment:after,
.offer-comment:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.offer-comment:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px; }

.offer-comment:before {
  border-color: rgba(89, 178, 0, 0);
  border-bottom-color: #59B200;
  border-width: 16px;
  margin-left: -16px; }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.article .left {
  margin: 0 30px 30px 0; }
.article .right {
  margin: 30px 0 30px 30px;
  margin-right: 0; }
.article p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200; }

.article-with-arrows .title-article {
  position: relative;
  margin-top: 120px; }
  .article-with-arrows .title-article:before {
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -40px;
    content: "";
    width: 80px;
    height: 80px;
    background-position: 0 -388px; }
.article-with-arrows .no-arrow {
  margin-top: 0; }
  .article-with-arrows .no-arrow:before {
    display: none !important; }
.article-with-arrows .circle-with-number {
  margin-top: -42px; }

.article.no-mg p {
  margin: 0; }

.article-preview .round-rectangle, .article-preview .list-round-rectangles li .img-service, .list-round-rectangles li .article-preview .img-service {
  width: 140px;
  height: 70px; }
.article-preview .cell-1 {
  width: 200px; }
.article-preview .cell-2 {
  width: 620px; }
.article-preview:hover {
  border: none;
  padding: 15px; }
  .article-preview:hover h3 {
    text-decoration: underline; }

.search-box {
  height: 50px;
  border: 1px solid #ff9673;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 150, 115, 0.5);
  background-color: white; }
  .search-box input,
  .search-box .select-box,
  .search-box button {
    float: left; }
  .search-box input {
    width: 320px;
    height: 30px;
    border: none;
    border-right: 1px solid #ff9673;
    padding: 10px 20px;
    color: #ff9673;
    font-size: 24px; }

.header {
  height: 288px;
  background-image: url(../img/bg-orange.jpg);
  background-size: cover; }

.header-bg {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 95% center; }
  .header-bg .container {
    position: relative; }
  .header-bg .logo-container {
    width: 100%; }
  .header-bg .search-container {
    top: 190px;
    left: 200px; }

/* ==========================================================================
    FORMS
========================================================================== */
.forms {
  margin: 30px 0; }
  .forms > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 540px;
    padding: 30px;
    border: 1px solid #bbb;
    color: #888; }
    .forms > div h5 {
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: bold;
      text-align: center; }
    .forms > div input {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      border: 2px solid #bbb;
      color: #888; }
    .forms > div button {
      display: block;
      width: 350px;
      height: 56px;
      margin: 0 auto;
      border: none;
      background-color: #888;
      color: white;
      font-size: 24px;
      font-weight: bold; }
  .forms > div:hover,
  .forms > div:focus {
    background-color: #fff5ea;
    border: 1px solid #ec4f15; }
    .forms > div:hover h5,
    .forms > div:focus h5 {
      color: #ec4f15; }
    .forms > div:hover input,
    .forms > div:focus input {
      border-color: #ec4f15; }
    .forms > div:hover button,
    .forms > div:focus button {
      background-color: #ec4f15; }

.label {
  font-style: 18px;
  font-weight: bold; }

.label-block {
  display: block;
  padding-left: 20px;
  margin-bottom: 10px; }

.input-primary, .textarea-primary {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  padding: 5px 30px;
  border: 2px solid #78bf2f;
  margin-right: 40px;
  margin-bottom: 40px;
  color: #4c9900;
  font-size: 22px;
  font-family: "metapro_condnorm", sans-serif; }

.input-small {
  font-size: 18px;
  height: 40px; }

.input-transparent {
  border: none; }

.input-wrapper {
  border: 2px solid #78bf2f; }
  .input-wrapper input {
    margin: 0;
    vertical-align: middle; }

.textarea-primary {
  height: 90px;
  resize: none; }

.input-1 {
  width: 946px;
  margin-right: 0; }

.input-2 {
  width: 450px; }

.input-4 {
  width: 203px; }

.input-date {
  padding-right: 60px;
  background-image: url(../img/icon-calendar.png);
  background-repeat: no-repeat;
  background-position: 97% center; }

.input-time {
  padding-right: 60px;
  background-image: url(../img/icon-timer.png);
  background-repeat: no-repeat;
  background-position: 94% center; }

.input-budget {
  padding-right: 60px;
  background-image: url(../img/icon-purse.png);
  background-repeat: no-repeat;
  background-position: 94% center;
  margin-right: 0 !important; }

/* ==========================================================================
    REQUEST STEPS
========================================================================== */
.request-steps {
  position: relative;
  padding: 0 90px;
  height: 290px; }

.request-step {
  position: absolute;
  width: 950px; }

.request-step-2,
.request-step-3 {
  display: none; }

.btn-step-prev,
.btn-step-next {
  position: absolute;
  display: block;
  top: 60px; }

.btn-step-prev {
  left: -30px; }

.btn-step-next {
  right: -30px; }

.step-number,
.step-count {
  position: absolute;
  z-index: 100; }

.step-number {
  top: -20px;
  left: -24px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 3px solid #4c9900;
  color: #4c9900;
  text-align: center;
  font-size: 21px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.step-count {
  right: 5px;
  bottom: 0;
  color: white;
  font-size: 15px; }

.btn-next-step, .btn-request {
  height: 50px;
  margin-right: 5px;
  margin-bottom: 30px; }
  .btn-next-step span, .btn-request span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    line-height: 50px; }
  .btn-next-step .text, .btn-request .text {
    height: 50px;
    padding: 0 20px;
    background-color: #59b200;
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .btn-next-step .square, .btn-request .square {
    width: 50px;
    height: 50px;
    background-color: #4c9900;
    text-align: center; }
    .btn-next-step .square ins, .btn-request .square ins {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 0;
      height: 0;
      line-height: 50px;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent transparent transparent white; }
  .btn-next-step:hover .text, .btn-request:hover .text {
    background-color: #51a300; }
  .btn-next-step:hover .square, .btn-request:hover .square {
    background-color: #458900; }

.btn-request .text {
  width: 185px;
  text-align: center; }

.field-required {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 40px; }
  .field-required input {
    margin-right: 0; }
  .field-required:after {
    position: absolute;
    content: "*";
    color: white;
    font-size: 24px;
    top: -15px;
    right: -15px; }

.performers-radios p {
  width: 450px;
  margin: 0 40px 10px 0; }

.custom-radio {
  font-size: 16px;
  line-height: 16px;
  color: white; }
  .custom-radio:before {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: 15px;
    background-image: url(../img/radios.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    content: ''; }

.custom-radio.is-checked:before {
  background-position: 0 -21px; }

/* ==========================================================================
    NAVIGATION
========================================================================== */
.nav-left {
  float: left; }
  .nav-left li {
    float: left; }

.nav-right {
  float: right; }
  .nav-right li {
    float: right; }

.nav-main {
  position: relative;
  height: 58px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px;
  -moz-box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px;
  box-shadow: rgba(34, 34, 34, 0.1) 0 0 0 3px;
  z-index: 1000; }

.nav-menu li {
  padding-top: 15px;
  margin-left: 30px; }
.nav-menu .nav-link {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  color: #222222;
  font-size: 18px;
  line-height: 18px;
  font-family: "metapro_condnorm", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }
.nav-menu .nav-link:before,
.nav-menu .nav-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #59b200;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85); }
.nav-menu .nav-link:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  -o-transition: top 0.3s, opacity 0.3s, -o-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s; }
.nav-menu .nav-link:hover:before,
.nav-menu .nav-link:hover:after,
.nav-menu .nav-link.is-open:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
.nav-menu .nav-link:hover:after,
.nav-menu .nav-link.is-open:after {
  top: 0%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
.nav-menu .nav-link.is-open:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.nav-user li {
  margin-left: 20px; }

.catalogue {
  position: relative; }

.catalogue-container {
  display: none;
  position: absolute;
  top: 134%;
  left: -30px;
  width: 880px;
  padding: 35px 0 35px 30px;
  background-color: white;
  border: 1px solid #73a246;
  border-top: 2px solid #59b200;
  z-index: 10000; }
  .catalogue-container .col {
    float: left;
    width: 260px;
    margin-right: 30px; }
  .catalogue-container li {
    padding-top: 5px; }
  .catalogue-container a {
    color: #59b200;
    font-size: 16px;
    line-height: 25px;
    font-family: "metapro_condnorm", sans-serif;
    text-transform: none;
    border-bottom: none; }
    .catalogue-container a:hover {
      color: #264c00; }

.bag {
  position: absolute;
  top: 178px;
  left: 10px; }
  .bag .services {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 10px;
    border: 1px solid #ff9775;
    background: white;
    font-size: 18px;
    color: #444444; }
  .bag .services:after,
  .bag .services:before {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none; }
  .bag .services:after {
    border-right-color: white;
    border-width: 8px;
    margin-top: -8px; }
  .bag .services:before {
    border-right-color: #ea6031;
    border-width: 9px;
    margin-top: -9px; }

.catalogue-list li {
  margin-right: 20px;
  margin-bottom: 30px; }
.catalogue-list li:nth-child(4n) {
  margin-right: 0; }

.list-wtih-dropdowns > li {
  position: relative;
  width: 266px;
  height: 160px; }
.list-wtih-dropdowns .service-type {
  position: absolute;
  z-index: 10; }
.list-wtih-dropdowns .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 180px 20px 20px;
  width: 266px;
  border: 2px solid #dcdbd8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
  border-radius: 65px;
  background-color: white; }
  .list-wtih-dropdowns .submenu li {
    margin-bottom: 15px; }
  .list-wtih-dropdowns .submenu a {
    color: #222;
    font-size: 16px;
    font-weight: bold; }
  .list-wtih-dropdowns .submenu a:hover {
    color: #ec4f15; }
  .list-wtih-dropdowns .submenu .lnk-all {
    color: #ec4f15; }
.list-wtih-dropdowns > li:hover .service-type {
  z-index: 12; }
  .list-wtih-dropdowns > li:hover .service-type p {
    color: #ec4f15; }
.list-wtih-dropdowns > li:hover .submenu {
  display: block; }

/* ==========================================================================
    BUTTONS
========================================================================== */
.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 20px 3px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.btn-login span {
  border-bottom: 1px dotted #444444;
  color: #444444;
  font-size: 15px;
  line-height: 60px;
  font-family: "metapro_condnorm", sans-serif;
  text-decoration: none; }
.btn-login:hover span {
  color: #59b200; }

.btn-make-request {
  background-color: #fc0;
  text-shadow: rgba(200, 171, 53, 0.64) 0 -1px 0; }
  .btn-make-request span {
    font-size: 40px;
    line-height: 20px;
    margin-right: 10px;
    vertical-align: text-top; }
  .btn-make-request:hover {
    background-color: #f0c000; }

.btn-registration {
  background-color: #ec4f15;
  text-shadow: rgba(217, 54, 0, 0.64) 0 -1px 0; }
  .btn-registration:hover {
    background-color: #d64611; }

.btn-search {
  border: none;
  background-color: #ec4f15;
  width: 50px;
  height: 50px;
  text-align: center; }
  .btn-search ins {
    line-height: 50px; }
  .btn-search:hover {
    background-color: #d64611; }

.btn-rectangle {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 50px;
  margin: 20px 0;
  color: white;
  font-size: 24px;
  line-height: 50px;
  text-align: center; }

.btn-red {
  background-color: #ec4f15; }
  .btn-red:hover {
    background-color: #d64611; }

.btn-green {
  background-color: #59b200; }
  .btn-green:hover {
    background-color: #4c9900; }

.btn-wide {
  width: 100%; }

.btn-thin {
  height: 36px;
  font-size: 18px;
  line-height: 34px;
  margin: 15px 0 0 !important; }

/* ==========================================================================
    ICONS
========================================================================== */
.icon, .has-star:before, .article-with-arrows .title-article:before, .btn-step-prev,
.btn-step-next, .bag ins, .btn-registration span, .list-service-steps li:before, .jcarousel-control-prev span, .slider-small .jcarousel-control-prev-small span,
.jcarousel-control-next span,
.slider-small .jcarousel-control-next-small span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url(../img/sprite-icons.png);
  background-repeat: no-repeat;
  vertical-align: middle; }

.btn-left-gray, .jcarousel-control-prev span, .slider-small .jcarousel-control-prev-small span {
  background-position: -2px 0;
  width: 66px;
  height: 65px; }

.btn-right-gray, .jcarousel-control-next span, .slider-small .jcarousel-control-next-small span {
  background-position: -99px 0;
  width: 66px;
  height: 65px; }

.btn-left-gray-inactive, .slider-small .jcarousel-control-prev-small.inactive span {
  background-position: -4px -74px;
  width: 66px;
  height: 65px; }

.btn-right-gray-inactive, .slider-small .jcarousel-control-next-small.inactive span {
  background-position: -100px -74px;
  width: 66px;
  height: 65px; }

.btn-left-green, .btn-step-prev {
  background-position: -258px -100px;
  width: 66px;
  height: 65px; }

.btn-right-green, .btn-step-next {
  background-position: -329px -99px;
  width: 66px;
  height: 65px; }

.btn-left-green-inactive, .btn-step-prev.inactive {
  background-position: -258px -169px;
  width: 66px;
  height: 65px; }

.btn-right-green-inactive, .btn-step-next.inactive {
  background-position: -327px -169px;
  width: 66px;
  height: 65px; }

.icon-calendar {
  background-position: 0 -154px;
  width: 33px;
  height: 32px; }

.icon-clock-small {
  background-position: 0 -200px;
  width: 25px;
  height: 30px;
  margin-right: 6px; }

.icon-date-small {
  background-position: -50px -202px;
  width: 23px;
  height: 25px;
  margin-right: 6px;
  margin-top: -4px; }

.icon-money-small {
  background-position: -99px -205px;
  width: 25px;
  height: 18px;
  margin-right: 6px;
  vertical-align: baseline; }

.icon-mail {
  background-position: -301px -2px;
  width: 42px;
  height: 30px; }

.icon-map {
  background-position: -200px 0;
  width: 38px;
  height: 30px; }

.icon-phone {
  background-position: -250px 0;
  width: 34px;
  height: 32px; }

.icon-purse {
  background-position: -52px -151px;
  width: 33px;
  height: 31px; }

.icon-search {
  background-position: -200px -49px;
  width: 26px;
  height: 26px; }

.icon-timer {
  background-position: -100px -150px;
  width: 32px;
  height: 32px; }

.icon-user {
  background-position: -152px -152px;
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.icon-number-1 {
  background-position: -254px -55px;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 5px; }

.icon-info {
  background-position: 0 -241px;
  width: 25px;
  height: 25px;
  margin-bottom: 5px; }

.btn-right-orange, .list-service-steps li:before {
  background-position: -200px -97px;
  width: 50px;
  height: 49px; }

.icon-user-add, .btn-registration span {
  background-position: -315px -52px;
  width: 25px;
  height: 19px;
  vertical-align: text-top;
  margin-top: 4px;
  margin-right: 10px; }

.icon-bag, .bag ins {
  background-position: -200px -160px;
  width: 54px;
  height: 61px;
  margin-right: 15px;
  vertical-align: bottom; }

.icon-arrow-down {
  background-position: -101px -292px;
  width: 28px;
  height: 16px; }

.icon-arrow-down.is-active {
  background-position: -100px -326px;
  width: 28px;
  height: 16px; }

.icon-arrow-up {
  background-position: -151px -291px;
  width: 28px;
  height: 16px; }

.icon-arrow-up.is-active {
  background-position: -150px -322px;
  width: 28px;
  height: 16px; }

.icon-bag-arrow {
  background-position: -102px -240px;
  width: 33px;
  height: 37px;
  margin-top: -15px;
  margin-right: 5px; }

.icon-house {
  background-position: 0 -239px;
  width: 24px;
  height: 24px; }

.icon-phone-small {
  background-position: -50px -240px;
  width: 15px;
  height: 24px; }

.icon-price-down {
  background-position: -49px -288px;
  width: 38px;
  height: 18px; }

.icon-price-down.is-active {
  background-position: -51px -327px;
  width: 36px;
  height: 18px; }

.icon-price-up {
  background-position: 0 -287px;
  width: 38px;
  height: 18px; }

.icon-price-up.is-active {
  background-position: 0 -329px;
  width: 36px;
  height: 18px; }

.icon-search-small {
  background-position: -300px -243px;
  width: 18px;
  height: 18px;
  margin: 4px 10px 0 0 !important; }

.star-big, .has-star:before {
  background-position: -151px -240px;
  width: 39px;
  height: 36px; }

.star-small {
  background-position: -201px -240px;
  width: 26px;
  height: 24px; }

.star-small-empty {
  background-position: -249px -240px;
  width: 26px;
  height: 24px; }

.icon-status-waiting {
  background-position: -315px -274px;
  width: 56px;
  height: 56px; }

.icon-status-done {
  background-position: -199px -274px;
  width: 56px;
  height: 56px; }

.icon-status-closed {
  background-position: -257px -274px;
  width: 56px;
  height: 56px; }

.icon-done-small {
  background-position: -30px -355px;
  width: 25px;
  height: 25px; }

.icon-comment {
  background-position: 0 -358px;
  width: 25px;
  height: 27px; }

.icon-close {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 26px;
  height: 26px;
  background-position: -64px -356px; }

/* ==========================================================================
    LISTS
========================================================================== */
.list-round-rectangles li {
  float: left;
  margin-bottom: 30px; }
  .list-round-rectangles li p {
    margin-top: 10px;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
.list-round-rectangles li:first-child {
  margin-left: 0; }

.list-benefits li {
  float: left;
  margin-left: 85px; }
.list-benefits li:first-child {
  margin-left: 0; }

.list-requests {
  margin-top: 40px; }
  .list-requests a {
    display: block;
    height: 134px;
    overflow: hidden;
    padding: 30px 35px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background-color: white; }
    .list-requests a .left {
      width: 344px; }
    .list-requests a .right {
      width: 130px;
      padding-left: 10px; }
      .list-requests a .right p {
        margin-bottom: 20px; }
    .list-requests a p {
      margin-top: 10px;
      color: #444444;
      font-size: 16px; }
    .list-requests a h4 {
      color: #444444;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      font-family: "metapro_condnorm", sans-serif; }
  .list-requests a:hover {
    border: 2px solid #b0d685;
    padding: 29px 34px;
    background-color: #fefefe; }
    .list-requests a:hover h4 {
      color: #59b200;
      text-decoration: underline; }

.reguest-time {
  font-size: 24px; }

.reguest-budget {
  color: #59b200;
  font-weight: bold;
  text-transform: uppercase; }

.budget-sum {
  font-size: 32px;
  line-height: 16px; }

.phone-numbers {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 170px; }

.service-performer {
  font-weight: bold; }

.list-service-steps li {
  float: left;
  position: relative;
  width: 200px;
  margin-left: 108px; }
  .list-service-steps li img {
    width: 200px;
    height: 200px;
    border: 2px solid #fae0d1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .list-service-steps li p {
    width: 150px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
    font-family: "metapro_condnorm", sans-serif;
    color: #202020;
    text-transform: uppercase; }
    .list-service-steps li p span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      float: left;
      border-bottom: 3px solid #fae0d1;
      margin-right: 10px;
      margin-top: -8px;
      color: #444444;
      font-size: 30px;
      line-height: 33px;
      font-weight: bold;
      font-family: 'Exo 2', sans-serif; }
.list-service-steps li:before {
  position: absolute;
  top: 88px;
  left: -76px;
  display: block;
  content: ''; }
.list-service-steps li:first-child {
  margin-left: 0; }
.list-service-steps li:first-child:before {
  display: none; }

/* PAGINATION
========================================================================== */
.pagination {
  text-align: right; }
  .pagination ul {
    margin: 20px 0;
    text-align: center; }
    .pagination ul li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
  .pagination a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 0 15px;
    border: 1px solid #444444;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px; }
  .pagination a:hover,
  .pagination li.is-current a {
    color: #ec4f15;
    border: 1px solid #ec4f15; }
  .pagination .first-page,
  .pagination .last-page {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 120px; }

/* ==========================================================================
    FOOTER
========================================================================== */
.footer {
  padding: 50px 0;
  background-color: #b0543c;
  color: white; }

.nav-footer {
  float: left;
  width: 25%;
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold; }
  .nav-footer a {
    color: white; }

.title-footer {
  font-size: 24px;
  font-weight: bold; }

.statistics {
  float: left;
  width: 25%;
  padding-right: 10px; }
  .statistics .title-footer {
    margin-bottom: 20px; }
  .statistics li {
    font-size: 15px; }

.contacts {
  width: 48%;
  float: left; }
  .contacts .title-footer {
    margin-bottom: 15px; }
  .contacts li {
    margin-top: 10px; }
    .contacts li ins {
      margin-right: 10px; }

.license {
  margin-top: 20px; }

/* ==========================================================================
    Custom select box
========================================================================== */
.select-box {
  height: 42px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.select-city {
  width: 210px; }

.select-performer {
  margin-right: 40px; }

.sl-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  margin: 22px 10px 0;
  width: 0;
  height: 0 !important;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #ff9673 transparent transparent transparent;
  font-size: 0;
  line-height: 0; }

.sl-container {
  float: left;
  width: 100%;
  height: 100%; }
  .sl-container .sl-placeholder-container {
    position: relative;
    display: block;
    padding: 0 22px 0 14px;
    background: white; }
  .sl-container:hover {
    cursor: pointer; }

.sl-placeholder {
  height: 50px;
  background: white;
  color: #ff9673;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; }

.sl-container .sl-options {
  top: 50px !important;
  left: -1px !important;
  width: 100%;
  padding: 10px 0;
  max-height: 200px;
  margin: 0;
  border: 1px solid #ff9673;
  background-color: white;
  list-style: none outside none;
  overflow: auto;
  z-index: 10000; }
  .sl-container .sl-options li {
    margin: 0;
    padding: 0 12px;
    overflow: hidden;
    line-height: 30px; }
    .sl-container .sl-options li a {
      display: block;
      color: #ff9673;
      font-size: 20px;
      font-weight: normal;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      text-align: left; }
  .sl-container .sl-options li:hover {
    background-color: rgba(0, 0, 0, 0.01); }
    .sl-container .sl-options li:hover a {
      color: #ff4a0d; }

.sl-container:hover .sl-button,
.sl-open .sl-button {
  border-color: #ff4a0d transparent transparent; }

.select-performer,
.select-category {
  width: 450px;
  margin-bottom: 40px; }
  .select-performer .sl-button,
  .select-category .sl-button {
    margin: 22px 15px 0;
    border-color: #59b200 transparent transparent transparent; }
  .select-performer .sl-placeholder-container,
  .select-category .sl-placeholder-container {
    padding: 0 30px;
    border: 2px solid #78bf2f; }
  .select-performer .sl-placeholder,
  .select-category .sl-placeholder {
    width: 400px !important;
    color: #4c9900;
    font-family: "metapro_condnorm", sans-serif;
    height: 47px;
    line-height: 47px; }
  .select-performer .sl-container .sl-options,
  .select-category .sl-container .sl-options {
    border: 2px solid #78bf2f; }
    .select-performer .sl-container .sl-options a,
    .select-category .sl-container .sl-options a {
      color: #59b200;
      font-family: "metapro_condnorm", sans-serif; }
    .select-performer .sl-container .sl-options li:hover a,
    .select-category .sl-container .sl-options li:hover a {
      color: #4c9900; }
  .select-performer .sl-container:hover .sl-button,
  .select-performer .sl-open .sl-button,
  .select-category .sl-container:hover .sl-button,
  .select-category .sl-open .sl-button {
    border-color: #4c9900 transparent transparent; }

.select-narrow {
  width: 182px;
  margin: 0 5px; }
  .select-narrow .sl-button {
    margin: 19px 15px 0; }
  .select-narrow .sl-placeholder {
    width: 110px !important;
    font-size: 18px;
    height: 40px;
    line-height: 40px; }
  .select-narrow .sl-container .sl-options li a {
    font-size: 18px; }

.select-longer {
  width: 300px; }
  .select-longer .sl-placeholder {
    width: 230px !important; }

/* ==========================================================================
    SLIDER
========================================================================== */
.jcarousel-wrapper {
  position: relative;
  width: 932px;
  height: 370px;
  margin: 0 auto; }

.jcarousel {
  position: relative;
  overflow: hidden; }

.jcarousel ul {
  width: 3000px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }
  .jcarousel ul li {
    float: left;
    width: 932px;
    height: 370px; }
  .jcarousel ul a {
    display: block;
    height: auto !important;
    max-width: 100%; }

.jcarousel-control-prev, .slider-small .jcarousel-control-prev-small,
.jcarousel-control-next,
.slider-small .jcarousel-control-next-small {
  position: absolute;
  display: inline-block;
  margin-top: -54px;
  text-align: center;
  text-decoration: none;
  top: 50%; }

.jcarousel-control-prev, .slider-small .jcarousel-control-prev-small {
  left: -142px; }

.jcarousel-control-next, .slider-small .jcarousel-control-next-small {
  right: -142px; }

/* Slider-small
========================================================================== */
.slider-small {
  margin-top: 25px; }
  .slider-small .jcarousel-wrapper {
    width: 850px;
    height: 186px; }
  .slider-small .jcarousel li {
    width: 270px;
    height: 180px;
    margin-right: 20px; }
